<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../static/plugins/bootstrap/css/bootstrap.css">
    <script src="../static/js/jquery.js"></script>
</head>
<body>
<h3>登录界面</h3>
<hr>
<div class="container-fluid">
    {% csrf_token %}
    <div class="row">
        <div class="col-md-5 col-md-offset-3">
            <form action="" method="post">
                {% csrf_token %}
                <div class="form-group">
                    <label>用户名</label>
                    <input type="text" class="form-control" id="username">
                </div>
                <div class="form-group">
                    <label>密码</label>
                    <input type="password" class="form-control" id="password">
                </div>
                <div class="form-group">
                    <label>验证码</label>
                    <div>
                        <div class="col-md-6">
                            <input type="text" class="form-control" id="validcode">
                        </div>
                    </div>
                    <div>
                        <div class="col-md-6">
                            <img width="350" height="35" id="valid_img" src="/valid_img/" alt="">
                        </div>
                    </div>
                    <p><span class="error"></span></p>
                </div>
                <p><input type="submit" class="btn btn-success login_btn" value="提交"></p>
            </form>
        </div>
    </div>
</div>

<script>
    $('.login_btn').click(function () {
        $.ajax({
            url: '/login/',
            type: 'post',
            async : false,
            data: {
                username: $('#username').val(),
                password: $('#password').val(),
                validcode: $('#validcode').val(),
                csrfmiddlewaretoken: $('[name="csrfmiddlewaretoken"]').val()
            },
            success: function (data) {
                if (data.user) {
                    location.href = '/customer/list/'
                } else {
                    $('.error').text(data.error).css('color', 'red')
                }


            }
        })
    })
    $('#valid_img').click(function () {
        this.src += '?'
    })
</script>
</body>
</html>