{% extends 'index.html' %}

{% block main %}
    <div class="row">
            <div class="col-md-12" style="background-color: #FCF8FF">
                <div class="row form-group">
                    <!--大标题-->
                    <h2 style="color: black">我的读物</h2>
                </div>
                <div class="row form-group">
                    <div class="col-md-5 col-md-offset-1">
                        <img src="/static/img/readingmatter/读物.jpg" class="img-responsive " alt="头像">
                    </div>
                    <div class="col-md-6">
                        <div class="blog-list--desc mt-4">
                            <!--书籍内容-->
								<h3>书籍名字</h3>
								<p>文案</p>
						</div>
                    </div>
                </div>
            </div>
            <!-- .col-md-8 -->
        </div>

{% endblock %}