<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

</head>
<body>
<h3>查看书籍</h3>
<ul>
    {% for book in book_list %}
        <li>{{ book.title }} {{ book.price }}</li>
    {% endfor %}

    <nav aria-label="...">
        <ul class="pagination">
            {{ pagination.page_html |safe }}
        </ul>
    </nav>

</ul>


</body>
</html>