{% extends 'base.html' %}
{% block style %}
    <!-- Google fonts -->

    <!-- AppUI CSS stylesheets -->


    <link rel="stylesheet" id="css-bootstrap" href="/static/assets/css/bootstrap.css"/>
    <link rel="stylesheet" id="css-app" href="/static/assets/css/app.css"/>
{% endblock %}
{% block content %}
    <div class="content-wrapper">
        <!-- Page Content -->
        <main class="app-layout-content">

            <!-- Page Content -->
            <div class="container-fluid p-y-md">
                <div class="card card-profile">
                    <div class="card-profile-img bg-img"
                         style="background-image: url(/static/assets/img/misc/base_pages_profile_header_bg.jpg);">
                    </div>
                    <div class="card-block card-profile-block text-xs-center text-sm-left">
                        <img class="img-avatar img-avatar-96" src="/static/AdminLTE-2.3.7/dist/img/user2-160x160.jpg"
                             alt=""/>
                        <div class="profile-info font-500"> {{ user_data.username }}
                            <div class="small text-muted m-t-xs">{{ user_data.email }}</div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <div class="card">
                            <div class="card-block tab-content">
                                <div class="tab-pane fade in active" id="profile-tab1">
                                    <form class="fieldset" method="post">
                                    {% csrf_token %}
                                        <h4 class="m-t-sm m-b">个人信息</h4>
                                        {% for foo in form %}
                                        <div class="form-group row">
                                            <div class="col-xs-12">
                                                <label for="email">{{ foo.label }}</label>
                                                {{ foo }}
                                            </div>
                                        </div>
                                        {% endfor %}
                                        <div class="row narrow-gutter pull-right">
                                            <div class="col-xs-12">
                                                <button type="submit" class="btn btn-success pull-right"><span>保存</span>
                                                </button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <!-- .card-block .tab-content -->
                        </div>
                        <!-- .card -->
                    </div>
                    <!-- .col-md-8 -->
                </div>
                <!-- .row -->
            </div>
            <!-- End Page Content -->
        </main>
        <!-- End Page Content -->
    </div>

{% endblock %}
