<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/static/css/top.css">

</head>
<body>
<div class="top">
    <ul class="top_ul">
        <li><span>小米手机</span></li>
        <li><span>Redmi红米手机</span></li>
        <li><span>电视</span></li>
        <li><span>笔记本</span></li>
    </ul>
    <div id="child_div">
            <div class="img" id="img-1">
                <a href="">
                    <img width="230" height="230px" src="imgs/1.jpg" alt="图片">
                </a>
            </div>
            <div class="img">
                <a href="">
                    <img width="230" height="230px" src="imgs/2.jpg" alt="图片">
                </a>
            </div>
            <div class="img">
                <a href="">
                    <img width="230" height="230px" src="imgs/3.jpg" alt="图片">
                </a>
            </div>
            <div class="img">
                <a href="">
                    <img width="230" height="230px" src="imgs/4.jpg" alt="图片">
                </a>
            </div>
        </div>
</div>

<script src="/static/js/vue.js"></script>

<script>


</script>

</body>
</html>